@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/Results.css" rel="stylesheet" />

<h2 style="text-align: center">@ViewBag.Title.</h2>

<address style="text-align: center">
    Blagoje Babic <br />
    Belgrade, Serbia<br />
    Phone: +381648243847<br />
</address>

<address style="text-align: center">
    <strong>Support:</strong>   <a href="mailto:blagojebabic@gmail.com">blagojebabic@gmail.com</a><br />
</address>

